@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
} */

summary {
	cursor: pointer;
	font-weight: bold;
	text-decoration: underline;
}

.post-title {
	position: relative;
}
.post-title::before {
	content: attr(post-day);
	position: absolute;
	float: right;
	height: 100%;
	right: 20px;
	color: transparent;
	text-shadow: 0 0 1px rgb(203 213 225);
	font-size: 2rem;
	font-style: italic;
	font-weight: bold;
	pointer-events: none;
	z-index: inherit;
}

table {
	border-collapse: collapse;
	width: 100%;
}

td,
th {
	border: 1px solid #ddd;
	padding: 8px !important;
	text-align: left !important;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

tr:hover {
	background-color: #ddd;
}

th {
	padding-top: 12px !important;
	padding-bottom: 12px !important;
	text-align: left;
	background-color: #ccc;
	color: white;
}
